@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $blue;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lato;
  height: 100vh;
  padding: 1rem;
}

.switch {
  position: absolute;
  top: 2%;
  left: 5%;
  height: 4rem;
  width: 10rem;
  display: flex;
  justify-content: space-around;

  @media (max-width: 40rem) {
    top: 2%;
    left: 2%;
    width: 8rem;
    height: 3rem;

  }
}

.switch__text {
  @media (max-width: 40rem) {
    font-size: 1rem;
  }
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 30%;

  @media (max-width: 40rem) {
    width: 30px;
    height: 17px;
    left: -10%;
  }
}

.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;

  @media (max-width: 40rem) {
    width: 13px;
    height: 13px;
    left: 4px;
    bottom: 2px;
  }
}

input:checked+.switch__slider {
  background-color: #50B8FF;
}

input:focus+.switch__slider {
  box-shadow: 0 0 1px #50B8FF;
}

.switch__checkbox:checked+.switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

  @media (max-width: 40rem) {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 3.5rem;
  margin: 0 0 3rem 0;
  text-transform: uppercase;

  @media (max-width: 40rem) {
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
  }
}

.glass {
  position: relative;

  &__number {
    position: absolute;
    display: block;
    padding: 2rem;
  }

  width: 20rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  font-size: 5rem;
  font-weight: 500;
  margin: 0 0 3rem 0;

  &__value--0 {
    fill: #eceff1;
    clip-path: polygon(8% 100%, 100% 100%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--1 {
    clip-path: polygon(6% 91%, 100% 91%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--2 {
    clip-path: polygon(6% 81%, 100% 81%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--3 {
    clip-path: polygon(6% 71%, 100% 71%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--4 {
    clip-path: polygon(6% 61%, 100% 61%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--5 {
    clip-path: polygon(6% 51%, 100% 51%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--6 {
    clip-path: polygon(4% 41%, 100% 41%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--7 {
    clip-path: polygon(2% 31%, 100% 31%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--8 {
    clip-path: polygon(0% 21%, 100% 21%, 90% 100%, 6% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }

  &__value--9 {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    transition: fill 1s ease-in, clip-path 1.2s ease-in;
  }
}

.button-add {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: $black;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 0 1.5rem 0;
  width: 13rem;
  height: 2.5rem;
  transition: .3s ease-in-out;

  &:hover {
    background: $water;
  }
}

.button-remove {
  border: none;
  color: $white;
  background: none;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  font-style: normal;
  transition: .3s ease-in-out;

  &:hover {
    color: coral;
  }
}